<!DOCTYPE html>
<html lang="en" xmlns="https://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="title">New Major Form</h1>
        <div class="form-container">
            <form action="/major/create" method="post">
					
				<input type="hidden" name="id"  th:value="${major.id}" >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" th:value="${major.name}" id="name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                   <textarea  rows="10" name="description" th:text="${major.description}" id="description" ></textarea>
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-form">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>